/9700/bin
/9700/obj
/Opera
/OracleDlls
/Tester/OraOps11w.dll
/Tester/bin
/Tester/obj
/Tester/oci.dll
/Tester/Oracle.DataAccess.dll
/Tester/oramts.dll
/Tester/oramts11.dll
/Tester/oramtsus.dll
/Tester/orannzsbb11.dll
/Tester/oraocci11.dll
/Tester/oraociei11.dll
/Utils/obj
/Utils/bin
